.about-container__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  min-height: 90%;
  background-color: #030303db;
  font-family: 'IBM Plex Sans KR', sans-serif;  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 14px;
  position: relative;
  top: 30px;
}
.flex-about-container{
  display: flex;
  flex-direction: row;
}
 
.about-container__content__img {
  display: flex;
  align-items: center;
  justify-content: right;
  max-width:300px;
}

.about-container__content__img > img {
  height: auto;  
  width: auto;
  border-radius: 10px;
}

.main_item {
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  color: rgb(207, 207, 214);
  margin-bottom: 20px;
  overflow: hidden;
}

.ul-about-container{
  overflow: hidden;
  box-sizing: border-box;
}

ul > li.about-container__content__item {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
  list-style: none;
  overflow: hidden;
  padding-bottom: 20px;
  height: auto;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  ul > li.about-container__content__item {
    font-size: 12px; 
  }
}
