.header {
  height: 75px;
  left: -14px;
  top: 3px;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgba(124, 122, 122, 0.26);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: space-between;
}

.logo {
  padding-left: 10px;
  font-family: 'Coolvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 66px;

  /* identical to box height */
  letter-spacing: 0.02em;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu > svg {
  margin-right: 1rem;
  height: 35px;
  width: auto;
  fill: #ffffff;
}

.line-active {
  transition: opacity 1s linear;
  height: 3px;
  background: rgba(240, 237, 237, 0.801);
  border-radius: 3px;
}

.line-hide {
  opacity: 0;
}

.hide-mobile-menu {
  left: -100% !important;
}

div.header > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

div.header > ul > li {
  float: left;
  margin-left: 60px;
  margin-right: 60px;
}

div.header > ul > li a {
  transition: ease all 1.5s;
  display: block;
  text-align: center;
  padding: 22px 16px;
  text-decoration: none;
  height: 26.47px;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;
  /* identical to box height */
  letter-spacing: -0.05em;
  color: #ffffff;
}

div.header > ul > li a:hover {
  transition: ease all 0.5s;
  background-color: rgba(184, 173, 173, 0.301);
}

div.header > ul > li.active a + .line-active {
  display: block;
}
@media only screen and (max-width: 768px) {
  .mobile-menu {
    display: flex;
  }

  div.header > ul {
    background: rgba(28, 28, 30, 0.953);
    position: fixed;
    top: 76px;
    left: 20%;
    width: 80%;
    height: 90vh;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 0.5s all ease;
    z-index: 1;
  }

  div.header > ul > li {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.header > ul > li a {
    font-size: 25px;
    width: 90%;
  }

  div.header > ul > li a > svg {
    margin-right: 15px !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  div.header > ul > li {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
  }

  div.header > ul > li a {
    padding: 22px 5px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  div.header > ul > li {
    float: left;
    margin-left: 25px;
    margin-right: 25px;
  }

  div.header > ul > li a {
    padding: 22px 5px;
  }
}
