main {
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.wrapper-slogan {
  display: flex;
  flex-direction: row;
}
.wrapper-slogan__title {
  padding: 60px 0px;
  font-style: normal;
  font-size: 90px;
  font-weight: 400;
  text-align: center;
  line-height: 89.5%;
  color: #ffffff;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  .wrapper-slogan__title {
    font-size: 60px;
  }
}

@media screen and (max-width: 412px) {
  .wrapper-slogan__title {
    font-size: 45px;
    padding: 40px 0px;
  }
}
