.projects-container__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90%;
  background-color: #030303db;
  font-family: 'IBM Plex Sans KR', sans-serif;  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 14px;
  position: relative;
}

.projects-container__content > div > ul > li {
  display: flex;
  overflow-y: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.projects-container__content > div > ul > li > a {
  color: azure;
  cursor: pointer;
}
.projects-container__content > div > ul > li > a:hover {
  color: #a36060;
}

@media screen and (max-width: 412px) {
  .projects-container__content{
    font-size: 12px;
  }

  .projects-container__content > div > ul > li {
    margin-bottom: 15px;
  }
}

