.slide-wrapper {
  width: 97%;
  max-height: 50vh;
  overflow: hidden;
}

.slide-card {
  display: flex;
  flex-direction: column;
  position: relative;
  transition: all 0.3s ease;
  width: 310px;
  height: 215px;
  margin: 80px 10px;
  background-color: #030303db;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.slide-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px rgba(122, 116, 116, 0.5);
}

.slide-card > h3 {
  overflow: hidden;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 21px;
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: center;
}

.slide-card > svg {
  margin-top: 10px;
  align-self: center;
  color: rgb(133, 132, 132);
  font-size: 40px;
}

.slide-card > ul {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.slide-card_skills__items {
  color: rgb(246, 245, 245);
  text-align: center;
}

@media screen and (max-width: 412px) {
  .slide-wrapper {
    max-height: 40vh;
  }
  .slide-card {
    margin: 50px 10px;
  }
  
}